# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

on property:sys.boot_completed=1
    start init_cancfg

service init_cancfg /system/bin/init.cancfg.sh
    class core
    user root
    group root system shell
    oneshot
